version:  '3.7'
services:
    nginx:
      image: nginx:1.15.3-alpine
      restart: on-failure
      volumes:
        - '.:/usr/src/app'
        - './.docker/nginx/imovit.conf:/etc/nginx/conf.d/imovit.conf:ro'
        - './.docker/nginx/scuti.conf:/etc/nginx/conf.d/scuti.conf:ro'
        - './.docker/nginx/telia.conf:/etc/nginx/conf.d/telia.conf:ro'
      ports:
        - "80:80"
      depends_on:
        - php
    php:
      build:
        context: .
        dockerfile: ./.docker/php/Dockerfile
        args: 
          APCU_VERSION: 5.1.20
      restart: on-failure
      environment:
        XDEBUG_CONFIG: remote_host=host.docker.internal remote_port=9000 remote_enable=1
      volumes:
        - '.:/usr/src/app'
    mysql:
      image: mysql:5.6.40
      command: --default-authentication-plugin=mysql_native_password
      restart: on-failure
      ports:
        - "3306:3306"
      environment:
        MYSQL_ROOT_PASSWORD: root